.geschichteContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.handwerkcontent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
  margin: 2rem 0 3rem;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  /* backdrop-filter: blur(1px); */
}

.handwerkcontent h2 {
  margin: 1.5rem 0 0.8rem;
}

.handwerkcontent h2:first-child {
  margin-top: 0;
}

.handwerkcontent p {
  margin: 0.3rem 0;
}

.handwerkcontent ul {
  margin: 0.5rem 0;
  padding-left: 1.2rem;
  list-style-type: disc;
}

.handwerkcontent ul li {
  margin: 0.3rem 0;
}

.background {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroundImage {
  transform: translateY(-50px);
  transform-style: preserve-3d;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;

  filter: blur(5px) grayScale(1) brightness(1) contrast(1) saturate(0.5);
}
