:root {
  --background: rgb(240, 240, 240);
  --textColor: rgb(24, 24, 24);
  --colorAccent: rgb(137, 102, 12);
}

html,
body {
  max-width: 100vw;
  color: var(--textColor);
  background: var(--background);
  font-family: var(--font-1), var(--font-2), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
}

h1 {
  font-size: 4rem;
  letter-spacing: -1px;
}

h2 {
  font-size: 2rem;

  opacity: 0.8;
}

p {
  font-size: 1.2rem;
  font-family: var(--font-spacegrotesk);
}

.containerMain {
  width: min(100%, 1200px);
  margin: 0 auto;
  flex: 1;
  padding-top: 5rem;
}
