.navbar {
  /* position: fixed; */
  z-index: 1000;
  color: black;
  height: 5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navList {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.linkItem {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.2s ease;
  position: relative;
}

.linkItemLogo {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.3px;
  transition: all 0.2s ease;
}

.linkItem:hover {
  font-weight: 600;
}

.linkItem::after {
  content: '';
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.linkItem:hover::after {
  width: 60%;
}
