.referenzenContent {
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.textContainer {
  margin-bottom: 3rem;
  padding: 1.5rem;
  background-color: #ffffff00;
  border-radius: 2rem;
  transition: all 0.3s ease;
  box-shadow: inset 0rem 0rem 0.4rem 0rem #0000003e;
  /* border: solid 0.1rem #00000053; */
  width: 22rem;
  flex-direction: row;
}

.textContainer:hover {
  transform: translateY(-2px);
}

.textContainer h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: var(--font-2);
}

.textContainer p {
  line-height: 1.6;
  font-size: 1.2rem;
}
